pipeline/PL_Master.json
{
	"name": "PL_Master",
	"properties": {
		"activities": [
			{
				"name": "LKP_GetTables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT\n    TableName,\n    CreatedColumn,\n    ModifiedColumn\nFROM dbo.ETL_TableList\nWHERE IsActive = 1\nORDER BY TableName;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_Metadata",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP_GetTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP_GetTables').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 5,
					"activities": [
						{
							"name": "EXE_CopyTable",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_CopyTable",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"TableName": "@item().TableName",
									"CreatedColumn": {
										"value": "@item().CreatedColumn",
										"type": "Expression"
									},
									"ModifiedColumn": "@item().ModifiedColumn"
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}